
.user-profil{
    width: 100%;
    min-height: 25rem;
    background-color: $color-white;
    border-radius: 4px;
    text-align: center;
    padding:  2rem ;


    &__circle{
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        border: 3px solid $c2;
        margin: 0 auto;
        overflow: hidden;

        &--contain{
            padding: 1.5rem;
            overflow: initial;
        }

        

        & img{
            width: 100%;
            object-fit: cover;
            width: 20rem;
            height: 20rem;
            border-radius: 50%;

            &.contain{
                object-fit: contain;
                height: 17rem;
            }
        }
    }

    &__name{
        margin-top: 2rem;
        color: rgba($color-black , 1)
    }
}

.detail-badges{
    text-align: center;
    margin-top: 4rem;

    & img{
        height: 20rem;
        @include respond (tab-land){
            height: 10rem;
        }
    }

    & .gain{
        margin: 2rem;
        background-color: $color-white;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1rem 1.5rem;
        border-radius: 10rem;

        & img{
            height: 2rem;
        }

        & span{
            margin-left: 1rem;
        }
    }


}


.name-info{
    margin-top: 2.5rem;

    & p{
        color: rgba($color-black , .5)
    }

    & h3{
        color: $c4;
        margin-top: 1rem;
    }
}

.progression-text{
    margin-top: 4rem;

    & p{
        color: rgba($color-black , .5)
    }
}

.follow-task {
    background-color: $c2;
    display: inline-flex;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 10rem;


    span {
        color: $color-black;
        font-size: 1.3rem;
        padding-left: 1rem;
    }

    img {
        height: 2rem;
    }
}

.follow-task-bar {
    background-color: $color-white;
    padding: 2rem 2rem 1rem;
    border-radius: 1rem;
    margin: 1.5rem 0;


    .progression-zone{
        display: flex;
        align-items: center;
        margin-top: 1rem;

        .progression-shadow{
            flex: 1;
            height: 6px;
            background-color: $c2;
            border-radius: 2.5rem;
            overflow: hidden;

            .progression-level{
                height: 100%;
                background-color:$c6;
                border-radius: 2.5rem;
            }
        }

        span{
            font-size: 1.3rem;
            color: #343347;
            font-weight: 600;
            padding-left: 1rem;
        }
    }
}





.quiz-card{
    & ul{
        & li{
            padding: 1rem;
            background: $c2;
            border-radius: 7px;
            margin-bottom: 3px;

            &.trueanswer{
                color: $c6;
                background: #5dc1d969;
            }

            &.falseanswer{
                color: red;
                background-color: #cc131345;
            }
        }
    }
}


.detail-epreuve{
    background: $color-white;
    padding: 2rem;
    box-shadow: -1px 2px 7px #00000038;

    & .detail-epreuve__title{
        margin-top: 2rem;

        & h3{
            color: $c4;
        }

        & p{
            color: rgba($color-black , .5)
        }
    }
}

.detail-epreuve__title--live{
    margin-top: 2rem;

    & h3{
        color: $c6;
    }

    & p{
        color: rgba($color-black , .5)
    }
}
