.band{
    width:100%;
    height: 2rem;
    background-color: $color-blue;
}

.footer{
    padding: 5rem 0;
    min-height: 15rem;
    background-color: #2b2b2b;

    & h4{
        color: rgba($color-white, .8) ;
        font-size: 2.5rem;
        text-transform: capitalize;

        @include respond(tab-port){
            font-size: 2rem; 
        }
    }

    & p{
        color: rgba(255, 255, 255, 0.87);
        font-size: 1.4rem;
        font-weight: 300;
    }

    .social-container{
        width: 100%;
        min-height: 7rem;
        display: flex;
        justify-content: start;
        align-items: center;

        &__item{
            width: 4rem;
            height: 4rem;
            border: 1px solid $color-white;
            border-radius: 50%;
            color: white;
            text-align: center;
            font-size: 1.5rem;
            padding-top: 0.3rem;
            transition: all .3s ease-in-out;
            margin-right: 1.5rem;
            padding-top:0.8rem;

            @include respond(phone){
                padding-top:0;
                line-height: 2;
            }

            @include respond(phone){
                width: 3rem;
                height: 3rem;
            }

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    & ul{
        display: flex;
        justify-content: start;
        align-items: center;
        color: rgba(255, 255, 255, 0.87);
        font-size: 1.6rem;

        li{
            margin-right: 1.5rem;
            @include respond(tab-land){
                margin-right: 1rem;
            }

            a{
                color: rgba(255, 255, 255, 0.87);
                
                @include respond(tab-land){
                    font-size: 1.4rem;
                }
            }
        }
    }

}
.copy{
    width: 100%;
    height: 4rem;
    background-color: black;
    padding:0.8rem 0;
    
}

.f-p{
    color: rgba(255, 255, 255, 0.692);
    font-size: 1.3rem;
}

