.header-content{
    width:100%;
    min-height: 80vh;
    border-top:1px solid $color-white;
    // background-color: black;
    position: relative;

    

    & .carousel{
        width: 100%;
        height: 80vh;
        z-index:-2;

        & .carousel-inner{
            width: 100%;
            height: 100%;

            & .carousel-item{
                width: 100%;
                 height: 100%;

                 & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: brightness(55%);
                }

                & .carousel-caption{
                    background-color: #ebebeb;
                    position: absolute;
                    height: 15rem;
                    width: 50%;
                    left:50%;
                    bottom:0;
                    z-index:5;
                    box-shadow: 0px 6px 5px 0px rgba($color-blue,0.06);

                    @include respond(tab-port){
                        width: 100%;
                        left:0;
                    }

                    & .header-title{
                        font-size:3rem;
                        color:$color-blue !important;
                        text-transform: uppercase;

                        @include respond(tab-port){
                            font-size:2rem;
                        }
                    }

                    & .header-paragraph{
                        margin-top:2rem;
                        font-size:1.8rem;
                        color:$color-blue !important;

                        @include respond(tab-port){
                            font-size:1.6rem;
                        }
                    }
                }
            }
        }
    }

    
}