.progression-profil{
  text-align: center;
    &__circle{
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;

        & img{
            width: 100%;
            object-fit: cover;
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
        }
    }

    &__task{
        background-color: $color-white;
        display: inline-flex;
        align-items: center;
        padding: 1rem 1.5rem;
        border-radius: 10rem;
    

        span {
            color: $color-black;
            font-size: 1.3rem;
            padding-left: 1rem;
        }
    
        img {
            height: 2rem;
        }
    }


    &__end{
        color: rgba($color-black, .5);
    }
}

//collapse
.card-header{
    background-color: $color-white;
    border:none;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    cursor: pointer;
}

.titleCollapse{

    display: flex;
    align-items: center;

    &__number{
        flex: 0 0 4rem;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        background-color: $c2;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & h3{
        margin-left: 1.5rem;
    }
}

.collapse-profil__task {
    background-color: $c2;
    display: inline-flex;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 10rem;


    span {
        color: $color-black;
        font-size: 1.3rem;
        padding-left: 1rem;
    }

    img {
        height: 2rem;
    }
}

.card-code{
    background-color: $c2;
    height: 10rem;
}