@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
.section-title {
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
  color: #242323;
}

.section-title--mb {
  margin-bottom: 3rem;
}

.section-paragraph {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: #2e2d2d;
}

.section-paragraph--color {
  color: white;
}

@media only screen and (max-width: 48em) {
  .section-paragraph--length {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

.c-title {
  font-size: 2.2rem;
  margin-top: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #242323;
}

.services-p {
  font-size: 1.5rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.service-title {
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: none !important;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

a, a:hover {
  text-decoration: none;
}

ul, ol {
  padding-left: 0rem;
}

li {
  list-style: none;
  color: #4e4e4e;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, span {
  color: rgba(0, 0, 0, 0.5);
}

.main-content {
  margin: 5rem 0;
}

.navigation {
  width: 100%;
  padding: 1rem 0;
  background-color: white;
  position: fixed;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(7, 50, 115, 0.06);
          box-shadow: 0px 6px 5px 0px rgba(7, 50, 115, 0.06);
  z-index: 1000;
  top: 0;
}

.navigation .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .nav .logo {
  width: 5rem;
  height: 5rem;
  padding-top: 0.7rem;
}

.navigation .nav .logo .logo-title {
  color: #d54418;
  margin-bottom: 0;
}

.navigation .nav .logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation .nav .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.navigation .nav .menu ul li {
  padding-left: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.navigation .nav .menu ul li::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #d54418;
  display: block;
  margin: auto;
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.navigation .nav .menu ul li:hover::after {
  width: 100%;
}

.navigation .nav .menu ul li a {
  color: #073273;
  text-transform: capitalize;
}

@media only screen and (max-width: 48em) {
  .navigation .nav .menu {
    display: none;
  }
}

.navigation .nav .menu-bars {
  display: none;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.navigation .nav .menu-bars i {
  cursor: pointer;
  color: #d54418;
  font-size: 2rem;
}

@media only screen and (max-width: 48em) {
  .navigation .nav .menu-bars {
    display: block;
  }
}

.menu-responsive {
  position: fixed;
  padding: 3rem 2rem;
  width: 30%;
  height: 100%;
  top: 0;
  background-image: linear-gradient(45deg, #d54418, #073273);
  color: white;
  z-index: 99999;
  right: -100%;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

@media only screen and (max-width: 48em) {
  .menu-responsive {
    width: 50%;
  }
}

@media only screen and (max-width: 36em) {
  .menu-responsive {
    width: 100%;
  }
}

.menu-responsive .closeBox {
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  text-align: center;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.menu-responsive .closeBox .fa-close {
  font-size: 2rem;
  color: white;
  margin-left: auto;
}

.menu-responsive ul {
  margin-bottom: 0;
}

.menu-responsive ul li {
  padding-left: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1rem 0.5rem;
}

.menu-responsive ul li:hover a {
  color: #d54418;
}

.menu-responsive ul li a {
  color: white;
  text-transform: capitalize;
}

.menu-responsiveActive {
  right: 0;
}

.button-section {
  padding: .8rem;
  width: 10rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: #073273;
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  display: block;
  margin-left: auto;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(7, 50, 115, 0.06);
          box-shadow: 0px 6px 5px 0px rgba(7, 50, 115, 0.06);
}

.button-section--modif {
  margin-left: 0;
  text-align: center;
  width: 25rem;
  margin: 5rem auto 0;
}

.btnSubmit {
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: #073273;
  color: white;
  border: 2px solid white;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(7, 50, 115, 0.06);
          box-shadow: 0px 6px 5px 0px rgba(7, 50, 115, 0.06);
}

.card-button {
  display: block;
  margin-left: auto;
  font-size: 1.4rem;
  border: 2px solid #073273;
  background-color: white;
  padding: .5rem;
  margin-top: 3rem;
  cursor: pointer;
}

.devis-btn {
  font-size: 1.4rem;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
}

.prestation-card {
  min-height: 10rem;
  background-color: white;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-bottom: 2rem;
}

.prestation-card__img {
  height: 16rem;
}

.prestation-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.prestation-card__decription {
  padding: 1rem 1.5rem;
}

.prestation-card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.service-card {
  min-height: 10rem;
  background-color: #FAFAFA;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-bottom: 2rem;
}

.service-card__img {
  height: 16rem;
}

.service-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.service-card__decription {
  padding: 1rem;
}

.service-card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.tabsButton {
  width: 100%;
  padding: 0.5rem 1rem;
}

.onglets {
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.active-onglet {
  background-color: #d54418 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.active-onglet .text-span {
  text-transform: uppercase;
  color: white !important;
}

.contenu {
  width: 100%;
  min-height: 10rem;
  display: none;
}

/* Anim */
.activeContenu {
  display: block;
  -webkit-animation: fade 0.5s forwards;
          animation: fade 0.5s forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-content {
  width: 100%;
  min-height: 80vh;
  border-top: 1px solid white;
  position: relative;
}

.header-content .carousel {
  width: 100%;
  height: 80vh;
  z-index: -2;
}

.header-content .carousel .carousel-inner {
  width: 100%;
  height: 100%;
}

.header-content .carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}

.header-content .carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(55%);
          filter: brightness(55%);
}

.header-content .carousel .carousel-inner .carousel-item .carousel-caption {
  background-color: #ebebeb;
  position: absolute;
  height: 15rem;
  width: 50%;
  left: 50%;
  bottom: 0;
  z-index: 5;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(7, 50, 115, 0.06);
          box-shadow: 0px 6px 5px 0px rgba(7, 50, 115, 0.06);
}

@media only screen and (max-width: 48em) {
  .header-content .carousel .carousel-inner .carousel-item .carousel-caption {
    width: 100%;
    left: 0;
  }
}

.header-content .carousel .carousel-inner .carousel-item .carousel-caption .header-title {
  font-size: 3rem;
  color: #073273 !important;
  text-transform: uppercase;
}

@media only screen and (max-width: 48em) {
  .header-content .carousel .carousel-inner .carousel-item .carousel-caption .header-title {
    font-size: 2rem;
  }
}

.header-content .carousel .carousel-inner .carousel-item .carousel-caption .header-paragraph {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #073273 !important;
}

@media only screen and (max-width: 48em) {
  .header-content .carousel .carousel-inner .carousel-item .carousel-caption .header-paragraph {
    font-size: 1.6rem;
  }
}

.band {
  width: 100%;
  height: 2rem;
  background-color: #073273;
}

.footer {
  padding: 5rem 0;
  min-height: 15rem;
  background-color: #2b2b2b;
}

.footer h4 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.5rem;
  text-transform: capitalize;
}

@media only screen and (max-width: 48em) {
  .footer h4 {
    font-size: 2rem;
  }
}

.footer p {
  color: rgba(255, 255, 255, 0.87);
  font-size: 1.4rem;
  font-weight: 300;
}

.footer .social-container {
  width: 100%;
  min-height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social-container__item {
  width: 4rem;
  height: 4rem;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0.3rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-right: 1.5rem;
  padding-top: 0.8rem;
}

@media only screen and (max-width: 36em) {
  .footer .social-container__item {
    padding-top: 0;
    line-height: 2;
  }
}

@media only screen and (max-width: 36em) {
  .footer .social-container__item {
    width: 3rem;
    height: 3rem;
  }
}

.footer .social-container__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.87);
  font-size: 1.6rem;
}

.footer ul li {
  margin-right: 1.5rem;
}

@media only screen and (max-width: 62em) {
  .footer ul li {
    margin-right: 1rem;
  }
}

.footer ul li a {
  color: rgba(255, 255, 255, 0.87);
}

@media only screen and (max-width: 62em) {
  .footer ul li a {
    font-size: 1.4rem;
  }
}

.copy {
  width: 100%;
  height: 4rem;
  background-color: black;
  padding: 0.8rem 0;
}

.f-p {
  color: rgba(255, 255, 255, 0.692);
  font-size: 1.3rem;
}

.section-about {
  width: 100%;
  min-height: 10rem;
  padding: 5rem 0;
}

.section-about .about-content {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-about .about-content__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 4rem;
  min-height: 10rem;
  z-index: 2;
}

.section-about .about-content__img img {
  width: 100%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
}

@media only screen and (max-width: 62em) {
  .section-about .about-content__img img {
    height: 10rem;
  }
}

.section-about .about-content__description {
  background-color: #00bcd41c;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-top: 4rem;
  min-height: 5rem;
  margin-left: -4rem;
  padding: 2rem 5rem;
}

.prestation {
  width: 100%;
  min-height: 10rem;
  padding: 5rem 0;
  background-color: #F7F7F7;
}

.production {
  width: 100%;
  min-height: 10rem;
  padding: 6rem 0;
}

.production .production-image {
  width: 100%;
  height: 30rem;
}

.production .production-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.production .carouselItem {
  height: 18rem;
  overflow: hidden;
}

.production .carouselItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.production .carouselItem:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.devis {
  width: 100%;
  min-height: 10rem;
  padding: 6rem 0;
  background-image: linear-gradient(45deg, rgba(15, 15, 148, 0.8), rgba(0, 0, 0, 0.7)), url(../img/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.devis .devi-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.devis .devi-row .text-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 62em) {
  .devis .devi-row .text-box {
    text-align: center;
  }
}

.devis .devi-row .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletters {
  width: 100%;
  min-height: 15rem;
  padding: 5rem 0;
  text-align: center;
}

.newsletters .form-newsletter form {
  width: 70%;
  margin: 0 auto;
  padding-left: 2rem;
}

@media only screen and (max-width: 48em) {
  .newsletters .form-newsletter form {
    width: 100%;
  }
}

.newsletters .form-newsletter form .formgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletters .form-newsletter form .formgroup input {
  max-width: 60rem;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
}

@media only screen and (max-width: 36em) {
  .newsletters .form-newsletter form .formgroup input {
    padding: 1rem 1.5rem;
  }
}

.newsletters .form-newsletter form .formgroup .newsletter-btn {
  padding: 1.5rem 2rem;
  background-color: #073273;
  font-size: 1.6rem;
  color: white;
  border: none;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(7, 50, 115, 0.06);
          box-shadow: 0px 6px 5px 0px rgba(7, 50, 115, 0.06);
}

@media only screen and (max-width: 36em) {
  .newsletters .form-newsletter form .formgroup .newsletter-btn {
    padding: 1rem 1.5rem;
  }
}

.header-pages {
  width: 100%;
  height: 25rem;
  position: relative;
}

.header-pages .page-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-pages__box {
  position: absolute;
  min-width: 15%;
  padding: 2rem 1rem;
  background-color: rgba(7, 50, 115, 0.6);
  top: 50%;
  left: 10%;
}

.header-pages__box .pages-title {
  font-size: 3rem;
  color: white;
  text-transform: capitalize;
}

.presentation {
  width: 100%;
  padding: 6rem 0;
}

.teams-card {
  width: 100%;
  min-height: 20rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
}

.teams-card .illustration {
  width: 100%;
  height: 25rem;
  margin-bottom: 1.3rem;
  border-radius: 5px;
  overflow: hidden;
}

.teams-card .illustration img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.teams-card .description .teams-title {
  text-transform: uppercase;
}

@media only screen and (max-width: 62em) {
  .teams-card .description .teams-title {
    font-size: 1.8rem;
  }
}

.teams-card .description p {
  text-transform: capitalize;
}

.contact {
  width: 100%;
  min-height: 15rem;
  padding: 7rem 0;
}

.contact form {
  width: 100%;
  min-height: 20rem;
  padding: 2rem 0;
  background-color: #fafafa;
  padding: 1.5rem;
}

.contact form.devis-form {
  width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 48em) {
  .contact form.devis-form {
    width: 100%;
  }
}

.contact form .inputContainer {
  width: 100%;
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.contact form .inputContainer .inputBox {
  width: 48%;
}

.contact form .inputContainer .inputBox input {
  width: 100%;
  padding: 1.5rem 1rem;
  background-color: white;
  border: none;
  font-size: 1.6rem;
}

.contact form .inputC {
  width: 100%;
  margin-bottom: 1.5rem;
}

.contact form .inputC select {
  width: 100%;
  padding: 1.5rem 1rem;
  background-color: white;
  border: none;
  border: none;
  font-size: 1.6rem;
}

.contact form .inputC input {
  width: 100%;
  padding: 1.5rem 1rem;
  background-color: white;
  border: none;
  border: none;
  font-size: 1.6rem;
}

.contact form .inputC textarea {
  width: 100%;
  min-height: 20rem;
  padding: 1.5rem 1rem;
  background-color: white;
  border: none;
  font-size: 1.6rem;
}

.contact form label {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.705);
  text-transform: capitalize;
  border: none;
}

.contact .s-card {
  width: 100%;
  min-height: 5rem;
  background-color: #00bcd41c;
  padding: 1.5rem;
  border-radius: 5px;
  position: -webkit-sticky;
  position: sticky;
  margin-bottom: 2rem;
}

.contact .s-card ul li {
  padding: 1.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .s-card ul li .icon {
  width: 3rem;
  height: 3rem;
  margin-right: .5rem;
  color: white;
}

.contact .s-card ul li .icon i {
  font-size: 2rem;
  color: #d54418;
}

.contact .s-card ul li span {
  font-size: 1.8rem;
  font-weight: 500;
}

.galery-section {
  width: 100%;
  min-height: 15rem;
  padding: 7rem 0;
}

.galery-section .galeri-content {
  width: 100%;
  min-height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galery-section .galeri-content__item {
  width: 30rem;
  height: 35rem;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 2rem;
  margin-right: 1.5rem;
  overflow: hidden;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.galery-section .galeri-content__item:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.galery-section .galeri-content__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.detail {
  min-height: 10rem;
  width: 100%;
  padding: 5rem 0;
}

.detail .s-detailImg {
  width: 100%;
}

.detail .s-detailImg img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2rem;
}

.detail .services-menu {
  min-height: 10rem;
  margin-bottom: 2rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: -moz-hidden-unscrollable;
}

.detail .services-menu__item {
  background-color: #c3bebe38;
  padding: 1rem .5rem;
  margin-bottom: .5rem;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media only screen and (max-width: 62em) {
  .detail .services-menu__item {
    display: inline-block;
    padding: .5rem;
  }
}

.detail .services-menu__item:hover {
  background-color: #d54418;
  color: white;
}

.detail .services-menu__item .text-span {
  font-size: 1.6rem;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */