$color-black:#2b2b2b;
$color-white:white;
$color-text:#4e4e4e;
$color-green: #7fcc26;
$color-orange:#d54418;
$color-brown:#69401dc7;
$bg-color:#f7f7f7;
$bg-blue:#343a40;
$color-blue:#073273;
$box-shadow: 0px 0px 9px 1px rgba(0,0,0, 0.08);



