.button-section{
    padding:.8rem;
    width:10rem;
    font-size: 1.6rem;
    text-align:center;
    background-color: $color-blue;
    color: $color-white;
    border:2px solid $color-white;
    border-radius: 3px;
    display: block;
    margin-left: auto;
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: 0px 6px 5px 0px rgba($color-blue,0.06);

    &--modif{
        margin-left: 0;
        text-align: center;
        width: 25rem;
        margin: 5rem auto 0;
    }
}

.btnSubmit{
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    text-align:center;
    background-color: $color-blue;
    color: $color-white;
    border:2px solid $color-white; 
    box-shadow: 0px 6px 5px 0px rgba($color-blue,0.06);  
}

.card-button{
    display: block;
    margin-left: auto;
    font-size: 1.4rem;
    border:2px solid $color-blue;
    background-color: $color-white;
    padding: .5rem;
    margin-top:3rem;
    cursor: pointer;

}

.devis-btn{
    font-size: 1.4rem;
    border:2px solid $color-white;
    color:white;
    background-color: transparent;
    padding: 1rem;   
     cursor: pointer;
}