.carousel{
    height:100%;
    width: 100%;
    position: relative;

    @include respond-phoneX{
        height: 30rem;
    }

    .carousel-inner{
        height: 100%;
        width: 100%;

        .carousel-item{
            height: 100%;
            width: 100%;
        }
    }

    &-image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(40%);

        & img{
            width:100%;
            height: 100%;
        }
    }


    &-caption{
        position: absolute;
        top: 40%;
        left: 50%;
        padding: 0;
        transform: translateX(-50%);

        @include respond-phoneX{
            width: 70%;
        }

        h5{
            font-size: 5rem;
            font-weight: bold;

            @include respond-tabport{
                font-size: 4rem;
            }

            @include respond-tabport{
                font-size: 3rem;
            }
        }

        p{
            font-size: 1.6rem;
        }
    }

    &-control-prev{
        background-color: red;
        position: absolute;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);

        @include respond-tabport{
            left: 5%;
        }

        @include respond-phoneX{
            height: 3.5rem;
            width: 3.5rem;
        }

        &-icon{
            background-image: url('../imgaes/arrow-prev.svg');
        }
    }

    &-control-next{
        background-color: red;
        position: absolute;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        @include respond-tabport{
            right: 5%;
        }

        @include respond-phoneX{
            height: 3.5rem;
            width: 3.5rem;
        }

        &-icon{
            background-image: url('../imgaes/arrow-next.svg');
        }
    }
} 