
.prestation-card{
    min-height: 10rem;
    background-color:$color-white;
    overflow: hidden;
    transition:all .3s ease-in-out;
    margin-bottom: 2rem;

    &__img{
        height: 16rem;
        

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition:all .3s ease-in-out;

        }
    }

    &__decription{
        padding:1rem 1.5rem;
    }

    &:hover{
         
        & img{
            transform: scale(1.1);
        } 
    }
}
.service-card{
    min-height: 10rem;
    background-color:#FAFAFA;
    overflow: hidden;
    transition:all .3s ease-in-out;
    margin-bottom: 2rem;

    &__img{
        height: 16rem;
        
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition:all .3s ease-in-out;

        }
    }

    &__decription{
        padding:1rem;
    }

    &:hover{
         
        & img{
            transform: scale(1.1);
        } 
    }
}