#pills-tabContent .col-sm-12{
    padding: 0 !important;

   
}


td{
    & .photo{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        overflow: hidden;

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


}

.table-box{
    background: white;
    padding: 2rem;
    font-size: 1.5rem;
    box-shadow: -1px 2px 7px #00000038;
    border-radius: 4px;

}

.table-span{
    padding: 1rem 2rem;
    text-align: center;
    background-color: $c2;
    border-radius: 50px;
    color: $c4;

    @include respond (phone){
        padding: 1rem 2rem;
    }
}