.form{

    & input{
        width: 95%;
        border-radius: 5px;
        padding: 1rem;
        font-size: 1.5rem;
        border: none;
        background-color: $c2;
        margin-bottom: 1rem;
    }

    &.--create-epreuve{

        & input{
            width: 100%;
            background-color: $color-white;
            margin-top: 2rem;
            display: block;
        }

        & textarea{
            width: 100%;
            background-color: $color-white;
            margin-top: 2rem;
            border: 1px solid rgba(204, 204, 204, 0.507);
            padding: 2rem;
            border-radius: 5px;
            resize: none;

            &:focus{
                outline: none;
            }
        }
    }


    & .entree-sortie{

        & textarea{
            width: 47%;
        }

        & .delete-icon{
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            background-color: red;
            cursor: pointer;
        }

        & .inpradio{
            height: 3rem;
            width: 3rem;
            margin-right: 1rem;
        }
    }

    & .deletequestion{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background-color: red;
        cursor: pointer;
    }
}