// .navigation-top{
//     width:100%;
//     padding: 1rem;
//     background-color:$color-orange;
// }

// .navigation{
//     width:100%;
//     height: 3rem;
//     padding: 1.5rem 0;
//     background-color:#2e5a9c;
//     color:$color-white;
//     position:fixed;
//     z-index:100;
// }


.navigation{
    width:100%;
    padding: 1rem 0;
    background-color: $color-white;
    position:fixed;
    box-shadow: 0px 6px 5px 0px rgba($color-blue,0.06);
    z-index:1000;
    top:0;

    & .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .logo{
            width: 5rem;
            height: 5rem;
            padding-top: 0.7rem;
            
            .logo-title{
                color:$color-orange;
                margin-bottom: 0;
            }
            & img{
                height: 100%;
                width:100%;
                object-fit: cover;
            }
        }

        & .menu{
            & ul{
                display: flex;
                align-items: center;
                margin-bottom: 0;
            
                & li{
                    padding-left: 1.5rem;
                    font-size: 1.8rem;
                    font-weight: 500;

                    &::after{
                        content: " ";
                        width: 0%;
                        height: 2px;
                        background-color: $color-orange;
                        display: block;
                        margin: auto;
                        transition: .5s all ease-in-out;
                    }

                    &:hover::after{
                        width: 100%;
                    }
                  
                    & a{
                        color: $color-blue;
                        text-transform: capitalize;
                    }
                }
            }

            @include respond (tab-port){
                display: none;
            }
        }

        & .menu-bars{
            display: none;
            transition: all .3s ease-in;

            & i{
                cursor: pointer;
                color: $color-orange;
                font-size: 2rem;
            }

            @include respond (tab-port){
                display: block;
            }
        }
    }
}

.menu-responsive{
    position: fixed;
    padding: 3rem 2rem;
    width: 30%;
    height: 100%;
    top:0;
    background-image:linear-gradient(45deg,rgba($color-orange, 1),rgba($color-blue, 1));
    color:$color-white;
    z-index:99999;
    right: -100%;
    transition: all .3s ease-in;

    @include respond(tab-port){
        width: 50%;
    }

    @include respond(phone){
        width: 100%;
    }

    & .closeBox{
        width:3rem;
        height: 3rem;
        margin-left: auto;
        text-align: center;
        transition: all .3s ease-in;

        & .fa-close{
            font-size:2rem;
            color: white;
            margin-left: auto;
        }
    }
   

    & ul{
        margin-bottom: 0;
    
        & li{
            padding-left: 1.5rem;
            font-size: 1.8rem;
            font-weight: 500;
            padding: 1rem 0.5rem;

            // &::after{
            //     content: " ";
            //     width: 0%;
            //     height: 2px;
            //     background-color: $color-orange;
            //     display: block;
            //     margin: auto;
            //     transition: .5s all ease-in-out;
            // }

            &:hover{
                 a{
                     color:$color-orange;
                }
            }

            & a{
                color: $color-white;
                text-transform: capitalize;
            }
        }
    }



}

.menu-responsiveActive{
    right: 0;
}





