.tabsButton{
    width: 100%;
    padding:0.5rem 1rem;
}

.onglets{
    cursor: pointer;
    transition: all .5s;


}

.active-onglet{
    background-color:$color-orange !important;
    transition: all 0.3s ease;

        & .text-span{
            text-transform:uppercase;
            color:$color-white !important;
        }
}


.contenu {
    width: 100%;
    min-height: 10rem;
    display: none;
}
/* Anim */
// .onglet

.activeContenu {
    display: block;
    animation: fade 0.5s forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}