//https://codepen.io/Venerons/pen/BvHbK

.sidebar{
    width: 23rem;
    height: 100vh;
    position:fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color:$color-white;
    padding: 4rem 2rem 2rem;
    transition: all .6s ease-in-out;



    @include respond(tab-land){
        left: -100%;
    }

    & .sidebar-menu{
        margin-top: 2rem;
        
        ul{

            li{

                a{
                    color: $color-black;
                    font-size: 1.5rem;
                    display: block;
                    padding: 1.5rem 1.5rem;
                    text-transform: capitalize;
                    border-radius: 4px;

                    &:hover{
                        & svg{
                            fill:$color-white;
                        }
                        background-color: $c4;
                        color: $color-white;
                        box-shadow: -1px 1px 5px 0px #00000014;
                    }

                    .icon-menu{
                        width: 2rem;
                        height: 2rem;
                        margin-right: 2rem;

                        & svg{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                    }
                }
            }
        }
    }

    & .logoBox{
        cursor: pointer;
        padding-left: 1.3rem;
        & .image-logo{
            width: 3rem;
        }

        & .logo-title{
            font-size: 2.5rem ;
            color:$color-white;
            margin-left: 1rem;
            text-transform: capitalize;

            @include respond(tab-land){
                font-size: 2rem;
            }
        }
    }

    & .close-menu{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        cursor: pointer;
        display: none;

        & img{
            height:100%;
            width: 100%;
            object-fit: cover;
        }

        @include respond(tab-land){
            display: block;
        }
    }
}

.sidebar--active{
    left: 0 !important;
}

.sidebar--responsive{
    @include respond(tab-land){
        left: -100% !important;
    }
}
