
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none !important;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    background-color: $color-white;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

a,a:hover{
    text-decoration: none;
}

ul, ol{
    padding-left: 0rem;
}

li{
    list-style: none;
    color: $color-text;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}



p,span{
    color: rgba( #000000, .5);
}

// maincontent

.main-content{
    margin: 5rem 0;
}





