.section-title{
    font-size:3rem;
    text-transform:capitalize;
    margin-bottom:3rem;
    color:rgb(36, 35, 35);

    &--mb{
        margin-bottom:3rem;
    }
}

.section-paragraph{
    font-size:1.6rem;
    margin-bottom: 2rem;
    color:rgb(46, 45, 45);

    &--color{
        color:$color-white;
    }

    &--length{
        @include respond(tab-port){
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            }
    }
}

.c-title{
    font-size:2.2rem;
    margin-top: 2rem;
    font-weight: 500;
    text-transform:capitalize;
    color:rgb(36, 35, 35);
}

.services-p{
    font-size:1.5rem;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.service-title{
    text-transform: uppercase;
    margin-top:2rem;
    margin-bottom: 1rem;
    
}
    




