.presentation{
    width:100%;
    padding:6rem 0;
}

.teams-card{
    width: 100%;
    min-height:20rem;
    background-color:$color-white;
    padding: 1.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    box-shadow: $box-shadow;

    & .illustration{
        width: 100%;
        height: 25rem;
        margin-bottom: 1.3rem;
        border-radius: 5px;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .description{

       & .teams-title{
            text-transform: uppercase;
            
            @include respond(tab-land){
                font-size:1.8rem;
            }
        }

        p{
            text-transform: capitalize;
        }
    }
}

.contact{
    width: 100%;
    min-height: 15rem;
    padding: 7rem 0;

    form{
        width: 100%;
        min-height: 20rem;
        padding:  2rem 0;
        background-color: #fafafa;
        padding: 1.5rem;

        &.devis-form{
            width: 70%;
            margin:0 auto;
            @include respond(tab-port){
                width: 100%;
            }
        }

        & .inputContainer{
            width: 100%;
            min-height: 5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            .inputBox{
                width: 48%;
                
                input{
                    width: 100%;
                    padding:  1.5rem 1rem;
                    background-color: $color-white;
                    border:none;
                    font-size:1.6rem;

                }
            }
        }

        & .inputC{
            width: 100%;
            margin-bottom: 1.5rem;
            
            select{
                width: 100%;
                padding:  1.5rem 1rem;
                background-color: $color-white;border:none;
                border:none;
                font-size:1.6rem;
            }

            input{
                width: 100%;
                padding:  1.5rem 1rem;
                background-color: $color-white;border:none;
                border:none;
                font-size:1.6rem;
                
            }

            textarea{
                width: 100%;
                min-height: 20rem;
                padding:  1.5rem 1rem;
                background-color: $color-white;
                border:none;
                font-size:1.6rem;
            }
        }

        label{
            font-size: 1.8rem;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.705);
            text-transform: capitalize;
            border:none;
        }


    }

    .s-card{
        width: 100%;
        min-height: 5rem;
        background-color:#00bcd41c;
        padding: 1.5rem;
        border-radius: 5px;
        position:sticky;
        margin-bottom: 2rem;

        & ul{
            li{
                padding: 1.5rem 1rem;
                display:flex;
                // align-items: center;

                & .icon{
                    width: 3rem;
                    height: 3rem;
                    margin-right: .5rem;
                    
                    color:white;

                    & i{
                        font-size:2rem;
                        color:$color-orange;
                    }
                }

                & span{
                    font-size:1.8rem;
                    font-weight: 500;
                }
            }
        }
    }
}