.detail{
    min-height: 10rem;
    width: 100%;
    padding: 5rem 0;

    & .s-detailImg{
        width:100%;

        & img{
            width:100%;
            height: 20rem ;
            object-fit: cover;
            margin-bottom:2rem;
        }
    }

    & .services-menu{
        min-height: 10rem;
        margin-bottom: 2rem;
        flex-wrap:nowrap;
        overflow:-moz-hidden-unscrollable;


        &__item{
            background-color: #c3bebe38;
            padding: 1rem .5rem;
            margin-bottom:.5rem;
            cursor: pointer;
            transition: all .3s ease-in-out;

            @include respond (tab-land){
                display: inline-block;
                padding: .5rem;
                
            }

            &:hover{
                background-color:$color-orange;
                color:$color-white;
            }

            & .text-span{
                font-size:1.6rem;
                color:#999;
                text-transform:uppercase;
                margin-bottom: 0;
            }
        }
    }
}