.galery-section{
    width: 100%;
    min-height: 15rem;
    padding: 7rem 0;

    .galeri-content{
        width: 100%;
        min-height: 20rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;


        &__item{
            width: 30rem;
            height: 35rem;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 2rem;
            margin-right: 1.5rem;
            overflow:hidden;
            transition: all .3s ease-in;

            &:hover img{
                transform:scale(1.3);

            }


            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .3s ease-in;
            }
        }
    }
}