.section-about{
    width:100%;
    min-height: 10rem;
    padding:5rem 0;
    
    & .about-content{
        width:100%;
        position:relative;
        display:flex;

        &__img{
            flex:1;
            margin-bottom: 4rem;
            min-height: 10rem;
            z-index: 2;
           
            
            & img{
                width: 100%;
                height: 30rem;
                object-fit: cover;
                box-shadow: 0px 0px 9px 1px rgba(0,0,0, 0.08);

                @include respond (tab-land){
                    height: 10rem;
                }
            }

        }

        &__description{
            background-color:#00bcd41c;
            flex:2;
            margin-top:4rem;
            min-height:5rem;
            margin-left:-4rem;
            padding:2rem 5rem;

            
        }
    }
}


.prestation{
    width:100%;
    min-height: 10rem;
    padding:5rem 0;
    background-color: #F7F7F7; 
}

.production{
    width:100%;
    min-height: 10rem;
    padding:6rem 0;

    & .production-image{
        width:100%;
        height: 30rem;

        & img{
            width:100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .carouselItem{
        height: 18rem;
        overflow: hidden;

        & img{
            width:100%;
            height: 100%;
            object-fit: cover;
            transition: all .3s ease-in-out;
        }

        &:hover{
            & img{
                transform: scale(1.1);
            }
        }
    }
}

.devis{
    width:100%;
    min-height: 10rem;
    padding:6rem 0;
    background-image: linear-gradient(45deg, rgba(15, 15, 148, 0.8), rgba(0, 0,0, 0.7)), url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    & .devi-row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        & .text-box{
            flex-direction: column;
            justify-content: center;

            @include respond(tab-land){
                text-align: center;
            }
        }

        & .button-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }  
}

.newsletters{
    width:100%;
    min-height: 15rem;
    padding:5rem 0;
    text-align: center;
    
    & .form-newsletter{
        
        & form{
            width: 70%;
            margin:0 auto;
            padding-left:2rem;

            @include respond (tab-port)
            {
                width:100%;
            }
            

            & .formgroup{
                display: flex;
                

                & input{
                    max-width:60rem ;
                    padding: 1.5rem 2rem;
                    font-size:1.6rem;

                    @include respond(phone){
                        padding: 1rem 1.5rem; 
                    }
    
                }
                & .newsletter-btn{
                    padding: 1.5rem 2rem;
                    background-color: $color-blue;
                    font-size:1.6rem;
                    color:$color-white;
                    border:none;
                    box-shadow: 0px 6px 5px 0px rgba($color-blue,0.06);
                    
                    @include respond(phone){
                        padding: 1rem 1.5rem; 
                    }
                }
            }

            
        }
    }
}

.header-pages{
    width:100%;
    height: 25rem;
    position: relative;

    & .page-img{
        width:100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right: 0;
        object-fit: cover;
        
    }

    &__box{
        position:absolute;
        min-width: 15%;
        padding: 2rem 1rem;
        background-color: rgba($color-blue,0.6);
        top:50%;
        left:10%;

        & .pages-title{
            font-size:3rem;
            color:$color-white;
            text-transform: capitalize;
        }
    }
}

